<div class="fullPage" >
	<div class="header" >
		<%= link_to image_tag('/assets/bookLogo.jpg'), '/books' , :class=>'logo' %>

		<center>
			<h1 > LIBRARY MANAGEMENT SYSTEM</h1>
			<p> A platform to search your favorite book </p>
		</center>
		<div class="tab">
			<div class="contents">
				Welcome, <%= current_user.full_name %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href='/users/lendedBooks'>Lended books</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<a href='/logOut'>Logout</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<%= form_tag(searched_path, method: :get) do %>
				<%= text_field_tag(:search, params[:search] ,:placeholder=>"Search By Name") %>
				<%= submit_tag ("Search") %>
			<% end %>

		</div>

	</div>



	<div class="container" >
		<center>
			<div class= "lendedBookBox">
				<% if @lendedBooks.empty? %>
					<h1 style="color: black;"> No Books are lended </h1>
				<% else %>
					<table>
						<tr >
							<th id="t1">S.No.</th>
							<th id="t2">Title</th>
							<th id="t3">Date Of Lending</th>
							<th id="t4">Return</th>
						</tr>
						<% i=1 %>
						<% @lendedBooks.each do |lendedBook| %>
							<tr>
								<td> <%= i %><% i=i+1 %> </td>
								<td> <%= lendedBook.name %> </td>
								<td> <%= lendedBook.date_of_lend %> </td>
								<td> <%= link_to  "Return", returnBook_path(lendedBook.id)%>
								<!--<a href='/books/returnBook/'> Return --></td>
							</tr>
						<% end %>
					</table>
				<% end %>
			</div>

		</center>
	</div>
	<br><br><br><br><br><br><br><br>


	<div class="footer">
		Visit Soon
	</div>
</div>